<!DOCTYPE html>
<html lang="en">
<head>

<title>Login V1</title>

</head>
  <h1>Esta es la pagina de Login</h1>
<meta charset="UTF-8">

<body>
  <br>
  <h2>Login</h2> <br>
    <div>
      <form id="formentrada"> 
        <label for="fname">Username:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Password:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
      </form>
  </div>


</body>

<footer> 

<p>This is a footer</p>

</footer>
</html>